/*Menu*/
.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo img {
  height: 90px;
  display: block;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  margin-left: auto;
  width: 100%;
  justify-content: space-around;
}
.Menu-Horizontal li a {
  text-decoration: none;
  color: #146c43;
  padding: 60px;
}
.Menu-Horizontal li a:hover {
  color: #1f9f63;
}
.Menu-Vertical {
  display: none;
  position: absolute;
  list-style: none;
  background-color: white;
  padding: 0;
  width: 200px;
  border: 1px solid #ddd;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  padding: 12px;
  color: #333;
}

/* -------- SECCIÓN PROMOS -------- */
.seccion-creditos {
  padding: 120px 40px 80px;
  background-color: #f7fff9;
}

.cont-gral-creditos {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.con-cred-texto h2 {
  color: #008f4c;
  margin-bottom: 15px;
}

.con-cred-texto p {
  line-height: 1.6;
}

/* -------- SECCIÓN SERVICIOS -------- */
.seccion-seguros {
  padding: 60px 40px;
  background-color: #ffffff;
}

.cont-gral-seguros {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn-servicios {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #00c16a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/* -------- FORMULARIO -------- */
.seccion-formulario {
  background-color: #d9f5e4;
  padding: 60px;
  display: flex;
  justify-content: center;
}

.cont-gral-formulario {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #b7e8cd;
}

.campo {
  background-color: #eefbf4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.formulario label {
  font-weight: 700;
  color: #146c43;
}

.formulario input,
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #00a76d;
  border-radius: 5px;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 10px;
  background-color: #d9f5e4;
  border-radius: 5px;
}

.lista-checkbox li,
.lista-radio li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.lista-checkbox li label,
.lista-radio li label {
  margin: 0;
  flex: 1;
  font-weight: normal;
  cursor: pointer;
}

.lista-checkbox input[type="checkbox"],
.lista-radio input[type="radio"] {
  width: auto;
  margin: 0;
  cursor: pointer;
}

.formulario button {
  background-color: #008f4c;
  padding: 12px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #00c16a;
}
.footer-info {
  flex: 1;
  min-width: 300px;
}
.footer-info h3 {
  color: blue;
  margin-bottom: 15px;
}
.footer-redes {
  flex: 1;
}
.footer-redes h3 {
  color: blue;
  margin-bottom: 15px;
}
.lista-redes {
  list-style: none;
  padding: 0;
}
.lista-redes li {
  margin-bottom: 8px;
}
.lista-redes li a {
  text-decoration: none;
  color: red;
}

@media (max-width: 768px) {
    .logo img {
        max-width: 80px;
        float: left;
    }
}